<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<connectionStrings>
    <add name="FogDb" connectionString="Server=localhost:3306;Database=FogDb;Uid=root;Pwd=@leca2119;" />
  </connectionStrings>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.4.0" newVersion="2.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore.Relational" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.4.0" newVersion="2.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.4.0" newVersion="2.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySqlConnector" publicKeyToken="d33d3e53aa5f8c92" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.44.1.0" newVersion="0.44.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="NFeAutorizacao4Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="NFeRetAutorizacao4Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="NFeConsultaProtocolo4Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="NFeInutilizacao4Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="NFeStatusServico4Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://homologacao.nfce.sefa.pr.gov.br/nfce/NFeAutorizacao4"
        binding="customBinding" bindingConfiguration="NFeAutorizacao4Soap12"
        contract="AutorizacaoHomolog.NFeAutorizacao4Soap12" name="NFeAutorizacao4ServicePort" />
      <endpoint address="https://homologacao.nfce.sefa.pr.gov.br/nfce/NFeConsultaProtocolo4"
        binding="customBinding" bindingConfiguration="NFeConsultaProtocolo4Soap12"
        contract="ConsultaChaveAcessoHomolog.NFeConsultaProtocolo4Soap12"
        name="NFeConsultaProtocolo4ServicePort" />
      <endpoint address="https://homologacao.nfce.sefa.pr.gov.br/nfce/NFeRetAutorizacao4"
        binding="customBinding" bindingConfiguration="NFeRetAutorizacao4Soap12"
        contract="ConsultaReciboHomolog.NFeRetAutorizacao4Soap12" name="NFeRetAutorizacao4ServicePort" />
      <endpoint address="https://homologacao.nfce.sefa.pr.gov.br/nfce/NFeStatusServico4"
        binding="customBinding" bindingConfiguration="NFeStatusServico4Soap12"
        contract="ConsultaStatusServiceHomolog.NFeStatusServico4Soap12"
        name="NFeStatusServico4ServicePort" />
      <endpoint address="https://homologacao.nfce.sefa.pr.gov.br/nfce/NFeInutilizacao4"
        binding="customBinding" bindingConfiguration="NFeInutilizacao4Soap12"
        contract="InutilizacaoHomolog.NFeInutilizacao4Soap12" name="NFeInutilizacao4ServicePort" />
    </client>
  </system.serviceModel>
</configuration>