<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="NFeAutorizacao4Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://homologacao.nfce.sefa.pr.gov.br/nfce/NFeAutorizacao4"
                binding="customBinding" bindingConfiguration="NFeAutorizacao4Soap12"
                contract="AutorizacaoHomolog.NFeAutorizacao4Soap12" name="NFeAutorizacao4ServicePort" />
        </client>
    </system.serviceModel>
</configuration>